.input-blocks-update {
    width: 800px;
    padding: 5px;
    border-radius: 4px;
    border: 2px solid #ded4d4;
}

.image-item-update {
    margin-bottom: 10px;
}

.p-blocks-update {
    margin-bottom: 20px;
}

.input-loop-blocks {
    margin-bottom: 10px;
}