<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<link rel="stylesheet" href="/css/movie/movie-details.css">
<link rel="stylesheet" href="/css/movie/movie-list.css">
<link rel="stylesheet" href="/css/home-page.css">

<th:block th:replace="fragment/head-fragment :: head-fragment"></th:block>

<body>
<div class="main">
    <img class="image-item" src="https://via.placeholder.com/300x180?text=Sample+Image"/>
    <p class="image-item"><b>Название фильма: <b th:text="${movie.getName()}"></b></b></p>
    <p class="details-item">Год производства: <span th:text="${movie.getYear()}"></span></p>
    <p class="details-item">Рейтинг: <span th:text="${movie.getRating()}"></span></p>
    <p class="details-item">Жанр: <span th:text="${movie.getGenre()}"></span></p>
    <p class="details-item">Режиссеры:
        <span th:each="director, iterStat : ${movie.getDirectors()}">
        <span th:text="${director.getName() + ' ' + director.getSurname()}"></span>
        <span th:if="${!iterStat.last}">,</span>
    </span>
    </p>
    <p class="image-item">Актеры:
        <span th:each="actor, iterStat : ${movie.getActors()}">
        <span th:text="${actor.getName() + ' ' + actor.getSurname()}"></span>
        <span th:if="${!iterStat.last}">,</span>
    </span>
    </p>
    <div class="buttons-flex-direction-details">
        <form action="/movie" method="get">
            <input type="hidden" name="page" th:value="${page}">
            <button class="buttons" type="submit">Назад</button>
        </form>
        <form action="/movie/delete" method="post">
            <input type="hidden" name="id" th:value="${movie.getId()}">
            <button class="buttons delete-button" type="submit">Удалить</button>
        </form>
        <form action="/movie/update" method="get">
            <input type="hidden" name="id" th:value="${movie.getId()}">
            <button class="buttons" type="submit">Редактировать</button>
        </form>
    </div>
</div>
<th:block th:replace="fragment/footer-fragment :: footer-fragment"></th:block>

</body>
</html>